<zone>
	<img height="300px" width="100%" src="images/about.jpg" style="object-fit:cover"/>
	<p>
		PhaseOne is McMaster University’s largest technology community with a reach of over fifteen hundred students. Our team strives
		to make technology education barrier free and provide extracurricular / hands on experience outside of the classroom. PhaseOne’s
		mission as a student group is to foster and grow the community by providing the necessary resources.
		<br><br>
		<a href="http://www.facebook.com/Groups/Phase0ne"><img src="images/FB-f-Logo__blue_100.png" height="40px"/> /Groups/Phase0ne</a><br><br>
		<a href="mailto:hello@phaseone.io">hello@phaseone.io</a>
	</p>
</zone>
<section class="noflex">
	<text style="padding-bottom:0;padding-top:0">
	<h1>Our Team</h1>
	<p>
		Phase One is composed of students dedicated to our mission: removing the barrier for technological education. The members
		of each team are chosen based on how their skills and enthusiasm can best be used towards this cause.
	</p>
	</text>
<subsection style="display:block">
<h2>Executives</h2>
<bin>
	<!--style="background:url('images/{{person.image}}');background-position:center"-->
	<item  ng-repeat="person in execs" ng-click="openInfoDialog(person.index)">
		<h3>{{person.name}}<br><small>{{person.position}}</small></h3>
	</item>

</bin>
</subsection>
<subsection>
	<text class="right-pad">
<h2>Team X</h2>
<p>
	Team X makes dreams come true. We help foster a growing tech community at McMaster by working with talented students to help
	teach new and exciting technological topics. We cover every field of technology we can, from design software to network
	security. We do this because we believe there's more than what you just learn at school, and we want to help Mac students
	discover things they never knew existed.<br><br>
	<strong>Team Members</strong><br> Hamid Yuksel - Team X Lead<br> Rumsha Siddiqui<br> Pavithran Pathmarajah<br> Afnan Yousuf
	<br> Luke Pritchard<br>
</p>
</text>
<img class="side-image" style="padding-top: 50px;" src="images/team-x-logo.png" />
</subsection>
<subsection>
	<img class="side-image" src="images/power-logo_on_white.png" />
	<text class="left-pad">
<h2>Promotions</h2>
<p>
	The promotions team for PhaseOne raises awareness of all the events hosted by the team to the McMaster and Hamilton community.
	We like to engage and alert the community of other nearby tech workshops, highlight projects McMaster students have worked
	on, and create conversation on technology development and how it relates to us. This is mainly done through social media
	such as Facebook, Twitter, Instagram, Medium and Snapchat. We are a group of enthusiastic pro-active individuals and are
	always interested in new members who want to spread the awareness of technology and its benefits.<br><br>
	<strong>Team Members</strong><br> Melissa Lam - Director of Promotions<br> Jennifer Chan<br> Christine Mitry<br> Divya Sridhar
	<br> Christine Wang<br> Annie Yu<br>
</p>
</text>
</subsection>
<subsection>
	<text class="right-pad">
<h2>Maker Space</h2>
<p>
	PhaseOne team dedicated to all things MakerSpace. This includes behind the scenes logistics with operating the space, keeping
	inventory of and planning what hardware to buy, and being active volunteers in the space. In the near future we will be
	recruiting MakerSpace executive team members to assist in the planning and design process, as well as general members to
	help volunteer and man the space.
</p>
</text>
<img class="side-image" src="images/power-logo_on_white.png" />
</subsection>
<subsection>
	<img class="side-image" style="min-height: auto;min-width: 30vw;" src="images/deltahackslogo.png" />
<text class="left-pad">
<h2>DeltaHacks</h2>
<p> DeltaHacks is McMaster’s annual student hackathon for change. We want to encourage students in all fields of study to come
	together to build real world applications that create positive change. The ultimate goal behind this hackathon is to include,
	not only the engineering and computer science students, but all talented individuals from all backgrounds to collaborate,
	create, and bring ideas to life.<br><br>
	<strong>Team Members</strong>
	<div style="display:inline-block;margin-right: 10px;"><p style="margin-top:0">Luo - Co-Director<br> Stephanie Koehl - Co-Director<br><br><br><br><br><br></p>
</div>
<div style="display:inline-block;margin: 0 10px;"><p style="margin-top:0"><i>Logisitics Team</i><br> Richard Zang - Head of Logistics<br> Danielle Shwed<br> Darren Tu<br> Dragon Visekruna<br> Levin
Noronha
<br> Isabela Ozamizic<br></p>
</div>
<div style="display:inline-block;margin: 0 10px;"><p style="margin-top:0"><i>Supportive Relations</i><br>Natalie Chin<br> Isabelle Kim<br> Samrudh Bangalore<br> Aprooav Soni<br><br><br></p>
</div>
</p>
</text>
</subsection>
<subsection>
	<text class="right-pad">
		<h2>Code Nights</h2>
		<p style="margin-bottom: 0"> The Code Nights team facilitates Phase One's weekly event where students come together to socialize, learn to code, and
develop their applications with the help of available mentors.<br><br>
<strong>Team Members</strong><br> Dave Gumba - Code Nights Head<br> Sabrina Mounphas - Outreach <br> Rajat Arora - Lead Mentor
<br> Owen Mitchell - Organizer <br>
</p>
</text>
<img class="side-image" style="min-height: auto;min-width: 30vw;" src="images/codenights_square.jpg" />
</subsection>
</section>