<div class="sidebar">
	<header class="sidebar-header">
		<h1 class="sidebar-header-logo hackitmac">
			<a href="/">HackIt<span class="hackitmac-color">Mac</span></a>
		</h1>
		<a href="mailto:hello@hackitmac.com" class="sidebar-header-email">hello@hackitmac.com</a>
	</header>

	<ul class="sidebar-navigation navigation">
		<li {% if page.url == '/index.html' %}class="sidebar-navigation-active navigation-active"{% endif %}>
			<a href="/">Home</a>
		</li>
		<li {% if page.url == '/events/index.html' %}class="sidebar-navigation-active navigation-active"{% endif %}>
			<a href="/events/">Events</a>
		</li>
		<li {% if page.url == '/hackathons/index.html' %}class="sidebar-navigation-active navigation-active"{% endif %}>
			<a href="/hackathons/">Hackathons</a>
		</li>
		<li {% if page.url == '/sponsors/index.html' %}class="sidebar-navigation-active navigation-active"{% endif %}>
			<a href="/sponsors/">Sponsors</a>
		</li>
		<li {% if page.url == '/resources/index.html' %}class="sidebar-navigation-active navigation-active"{% endif %}>
			<a href="/resources/">Resources</a>
		</li>
	</ul>

	<p class="sidebar-credit">
		<a href="https://github.com/hackitmac" title="Contribute to the hackitmac website">Fork us on GitHub!</a>
	</p>
</div>