<div class="sidebar">
	<header class="sidebar-header">
		<h1 class="sidebar-header-logo hackitmac">
			<a href="/">HackIt<span class="hackitmac-color">Mac</span></a>
		</h1>
		<!-- <a href="mailto:hello@hackitmac.com" class="sidebar-header-email">hello@hackitmac.com</a> -->
	</header>

	<ul class="sidebar-navigation navigation">
		<!-- <li {% if page.url == '/index.html' %}class="sidebar-navigation-active navigation-active"{% endif %}>
			<a href="/">Home</a>
		</li> -->

		<li {% if page.url == '/hackathons/index.html' %}class="sidebar-navigation-active navigation-active"{% endif %}>
			<a href="/hackathons/">Hackathons</a>
		</li>

		<li {% if page.url == '/events/index.html' %}class="sidebar-navigation-active navigation-active"{% endif %}>
			<a href="/events/">Upcoming Events</a>
		</li>

		<li {% if page.url == '/resources/index.html' %}class="sidebar-navigation-active navigation-active"{% endif %}>
			<a href="/resources/">Useful Resources</a>
		</li>

		<li {% if page.url == "http://medium.com/hackitmac-blog" %}class="sidebar-navigation-active navigation-active"{% endif %}>
			<a href="http://medium.com/hackitmac-blog">Our Blog</a>
		</li>

		<li {% if page.url == "http://deltahacks.com" %}class="sidebar-navigation-active navigation-active"{% endif %}>
			<a href="http://deltahacks.com">Deltahacks 2016</a>
		</li>
	</ul>

	<p class="sidebar-credit">
		<!--<li {% if page.url == '/sponsors/index.html' %}class="sidebar-navigation-active navigation-active"{% endif %}>
			<a href="/sponsors/">Sponsors</a>
		</li> -->

		<a href="https://github.com/hackitmac" title="Contribute to the hackitmac website"><i class="fa fa-code-fork"></i> Fork us on GitHub!</a>
		<a href="https://www.facebook.com/groups/hackitmac" title="This is our Facebook Community"><i class="fa fa-facebook-square"></i> Join us on Facebook!</a>
		<a href="http://twitter.com/hackitmac" title="Tweet to us"><i class="fa fa-twitter-square"></i> Follow us on Twiter!</a>
		<a href="https://youtube.com/hackitmac" title="Check out our videos"><i class="fa fa-youtube-square"></i> Check out our YouTube Channel!</a>
	</p>
</div>