<zone>
	<img height="300px" width="100%" src="./images/about.jpg" style="object-fit:cover"/>
	<p>
		PhaseOne is McMaster University’s largest technology community with a reach of over fifteen hundred students. Our team strives
		to make technology education barrier free and provide extracurricular / hands on experience outside of the classroom. PhaseOne’s
		mission as a student group is to foster and grow the community by providing the necessary resources.
		<br><br>
		<a href="http://www.facebook.com/Groups/Phase0ne"><img src="./images/FB-f-Logo__blue_100.png" height="40px"/> /Groups/Phase0ne</a><br><br>
		<a href="mailto:hello@phaseone.io">hello@phaseone.io</a>
	</p>
</zone>
<section class="noflex">
	<text style="padding-bottom:0;padding-top:0">
	<h1>Our Team</h1>
	<p>
		Phase One is composed of students dedicated to our mission: removing the barrier for technological education. The members
		of each team are chosen based on how their skills and enthusiasm can best be used towards this cause.
	</p>
	</text>
<subsection style="display:block">
<h2>Executives</h2>
<bin>
	<!--style="background:url('./images/{{person.image}}');background-position:center"-->
	<item  ng-repeat="person in execs" ng-click="openInfoDialog(person.index)" >
		<h3>{{person.name}}<br><small>{{person.position}}</small></h3>
	</item>

</bin>
</subsection>
<subsection>
	<img class="side-image" style="min-height: auto;min-width: 30vw;" src="./images/deltahackslogo.png" />
	<text class="right-pad">
		<h2><a href="https://deltahacks.com">DeltaHacks</a></h2>
		<p> DeltaHacks is McMaster’s annual student hackathon for change. We want to encourage students in all fields of study to come
	together to build real world applications that create positive change. The ultimate goal behind this hackathon is to include,
	not only the engineering and computer science students, but all talented individuals from all backgrounds to collaborate,
	create, and bring ideas to life.<br><br>
	<strong>Team Members</strong>
	<div style="display:inline-block;margin-right: 10px;margin-bottom:50px;"><p style="margin-top:0">Abhayraj Jain - Co-Director<br>Rumsha Siddiqui - Co-Director<br><br><br><br><br><br><br><br></p>
</div>
<div style="display:inline-block;margin: 0 10px;"><p style="margin-top:0"><i>Logistics Team</i><br> Troy Kuang - Head of Logistics<br> Benson Hall<br> Curtis Coe<br> Dananjay Prabaharan<br> Dipinjit Hanspal<br> Jefin John<br> Malavan Ragulojan<br> Nathan Mangaoil<br> Sameeksha Mishra<br> Tiffany Tse<br><br><br></p>
</div>
<div style="display:inline-block;margin: 0 10px;"><p style="margin-top:0"><i>Sponsorship Team</i><br> Anirudh Verma - Head of Sponsorship<br> Colleen Lam<br> Joshua Guiness<br> Levin Noronha<br><br><br></p>
</div>
<div style="display:inline-block;margin: 0 10px;"><p style="margin-top:0"><i>Supportive Relations Team</i><br> Daniel Rooks - Head of Supportive Relations<br> Cynthia Pham<br> Han Lam<br> Karim El Shenawy<br> Ryan Roshan<br><br><br></p>
</div>
<div style="display:inline-block;margin: 0 10px;"><p style="margin-top:0"><i>Attendee Relations Team</i><br> Jolie Nguyen - Head of Attendee Relations<br> Kumail Naqvi - Technical Lead<br> Anant Jain<br> Divya Tamilsevan<br> Ethan Johnston<br> Ghazi Salam<br> Kajoban Kuhaparan<br> Pranav Panchal<br><br><br></p>
</div>
<div style="display:inline-block;margin: 0 10px;"><p style="margin-top:0"><i>Design Team</i><br> Yih Chyuan Hsiao - Head of Design<br> Kevin Hu<br> Tina Mahmoudi<br><br><br></p>
</div>
<div style="display:inline-block;margin: 0 10px;"><p style="margin-top:0"><i>Public Relations Team</i><br> Madeeha Khan<br> Tanner Ryan<br><br><br></p>
</div>
</p>
</text>
</subsection>
</section>