<!--<zone id="calendar-month" ng-controller="CalendarController">
	<img width="50%" src="images/months/0.png"/>
	<h1>{{month.toUpperCase()}}</h1>
</zone>-->
<zone style="text-align: center;margin: 0 auto;">
	<iframe style="display:block;width:100%;margin: 0 auto;" src="https://calendar.google.com/calendar/embed?src=macengsociety.ca_c0bdoos0lap9rdbqa9rg95gc2g%40group.calendar.google.com&ctz=America/Toronto" style="border: 0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
</zone>