<div id="slideshow" ng-controller="SlideshowController">
	<div id="image" style="background-image: url('./images/lp_1.jpg');">
	</div>
	<div id="gradient-overlay">
	</div>
	<div id="indicators">
	</div>
	<div id="text">
		<h1></h1>
		<p style="font-size: 1.3em">
		</p>
	</div>
</div>
<zone style="margin-top: 80px">

<h2 style="text-align: center">The First Step...</h2>

<p style="margin-top: 60px"> PhaseOne is McMaster University’s largest technology community with a reach of over fifteen hundred students. Our team
strives to make technology education barrier free and provide extracurricular / hands on experience outside of the classroom.
PhaseOne’s mission as a student group is to foster and grow the community by providing the necessary resources.
</p>
</zone>
<zone>
	<h2 style="text-align: center;margin-bottom:60px;">Resources</h2>
<table id="resource-list">
	<tr>
		<td class="item">
			<img src="./images/icons/hardhat.png" />
			<h3>Workshops</h3>
			<p>A new workshop held every month!</p>
		</td>
		<td class="item">
			<img src="./images/icons/mentors.png" />
			<h3>Mentors</h3>
			<p>Get help from experienced coders!</p>
		</td>
		<td class="item">
			<img src="./images/icons/tools.png" />
			<h3>Tools</h3>
			<p>Use our recommended tools!</p>
		</td>
	</tr>
</table>
</zone>
<zone id="events-section">
	<h2 style="text-align: center;margin-bottom: 60px">Events</h2>
<table>
	<tr>
		<td style="text-align: center"><img width="50%" src="./images/events_image.png" /></td>
<td>
	PhaseOne hosts events targeted towards students interested in programming and software development.
</td>
</tr>
</table>
</zone>