<zone>
	<img height="300px" width="100%" src="./images/resources.jpg" style="object-position: 10% center; object-fit:cover"/>
	<p>
		PhaseOne at McMaster attempts to support a wide array of different initiatives all aimed towards making technology easier
	for students to use and understand. We run weekly code nights aiming towards students who want to collaborate on building
	software. We also run workshops that aims to improving software literacy, along with speakers to engage and immerse the
	students within the software engineering community. Our goal here is to eliminate all of the barriers that students perceive
	about the current technology movement.	
	</p>
</zone>
<zone>
<div class="blinds-container" style="color:white;">
	<div class="blind">
		<img width="80px" src="./images/icons/hardhat_white.png"/>
		<h3>Workshops</h3>
		<p>A new workshop held every month!</p>
	</div>
	<div class="blind">
		<img width="80px" src="./images/icons/mentors_white.png"/>
		<h3>Mentors</h3>
		<p>Get help from experienced coders!</p>
	</div>
	<div class="blind" onclick="window.location.href='tools'">
		<img width="80px" src="./images/icons/tools_white.png"/>
		<h3>Tools</h3>
		<p>Use our recommended tools!</p>
	</div>
</div>
</zone>